body
{
  color: white;
  background: blue;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#hand_gesture_name ,#hand_gesture_name2  
{
  color: black;
}
.hand_gesture_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

.heading 
{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
}

label
{
  font-size: 14px;
  color:aquamarine;
  padding: 6px;
  border-radius: 20px;
  background-color: white;
}